
        <div class="col-span-6 lg:col-span-3 flex items-center justify-center gap-4">
            <img [draggable]="false" src="/demo/images/landing/landing-logo1.png" alt="" />
        </div>
        <div class="col-span-6 lg:col-span-3 flex items-center justify-center gap-4">
            <img [draggable]="false" src="/demo/images/landing/landing-logo2.png" alt="" />
        </div>
        <div class="col-span-6 lg:col-span-3 flex items-center justify-center gap-4">
            <img [draggable]="false" src="/demo/images/landing/landing-logo3.png" alt="" />
        </div>
        <div class="col-span-6 lg:col-span-3 flex items-center justify-center gap-4">
            <img [draggable]="false" src="/demo/images/landing/landing-logo4.png" alt="" />
        </div>
    