<div class="card h-full">
        <div class="flex items-center justify-between mb-2">
            <span class="text-xl font-semibold m-0">Insights</span>
            <div>
                <button pButton pRipple icon="pi pi-ellipsis-h" rounded text (click)="menu.toggle($event)"></button>
                <p-menu #menu popup [model]="items" />
            </div>
        </div>
        <div class="border-b border-surface text-sm text-muted-color mb-2 flex items-center">
            <span>November 22 - November 29</span>
            <button pButton pRipple label="Semi/Full Data" class="ml-auto" text (click)="changeDoughnutDataView()"></button>
        </div>
        <p-chart #doughnutChart type="doughnut" [data]="doughnutData()" [options]="doughnutOptions()" height="200" />
        <div class="flex flex-col justify-center">
            <div class="flex flex-row items-center mt-6 px-4">
                <i class="pi pi-thumbs-up p-4 rounded-full bg-green-500 text-white"></i>
                <div class="flex flex-col ml-4">
                    <span>Best Day of the Week</span>
                    <small>Friday</small>
                </div>
                <span class="text-indigo-500 ml-auto">95</span>
            </div>
            <div class="flex flex-row items-center my-6 px-4">
                <i class="pi pi-thumbs-down rounded-full p-4 bg-orange-500 text-white"></i>
                <div class="flex flex-col ml-4">
                    <span>Worst Day of the Week</span>
                    <small>Saturday</small>
                </div>
                <span class="text-indigo-500 ml-auto">6</span>
            </div>
        </div>
    </div>